/* poppins font */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: poppins;
}

body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background-color: cornflowerblue;
}

input {
     outline: none;
}

button {
     border: none;
     outline: none;
     cursor: pointer;
}

.wrapper {
     box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px;
     position: relative;
     width: 100%;
     max-width: 500px;
     padding: 32px;
     background-color: #fff;
     border-radius: 24px;
}

.password_box {
     position: relative;
     input[type="text"] {
          width: 100%;
          padding: 16px 24px;
          background-color: transparent;
          border: 2px solid #808080;
          border-radius: 16px;
          &:disabled {
               border-color: #dddddd;
          }
     }

     i[class^="iconoir-"] {
          transform: translateY(-50%);
          position: absolute;
          top: 50%;
          right: 24px;
          font-size: 16px;
          cursor: pointer;

          &:hover {
               color: cornflowerblue;
          }
     }
}

.range_box {
     display: flex;
     align-items: center;
     margin: 16px 0px;
     gap: 16px;

     input[type="range"] {
          height: 8px;
          accent-color: cornflowerblue;
          width: 100%;
          cursor: pointer;
     }

     .slider_number {
          font-size: 16px;
          color: #808080;
          width: 20px;
     }
}

.generate_btn {
     width: 100%;
     background-color: cornflowerblue;
     padding: 16px 24px;
     color: #fff;
     border-radius: 16px;

     &:hover {
          background-color: rgb(83, 137, 238);
     }
}
